.body{
    display: flex;
}

.fleet{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    margin: 20px;
    border-radius: 20px;
    padding: 30px;
}

.fleet .heading{
    display: flex;
}

.fleet .left{
    width: 70%;
}

.fleet .right{
    width: 30%;
}

.heading .cate {
    display: flex;
    justify-content: space-between;
}

.fleet .line{
    border-left: 2px solid rgb(12, 12, 12);
}

.cards{
    display: grid;
    grid-template-columns:auto auto  ;
    justify-content: space-between;
    padding-top: 30px;
}

.card{
    padding: 30px;
}

.image{
    border-radius: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.fleet .low{
    display: flex;
    justify-content: space-between;
    border: 0;
    margin-top: 10px;
}

.btn{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    padding: 10px;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.2 ease;
    outline: 0 !important;
    border: none;
    outline: none;
}

.btn:hover{
    scale: 1.05;
}

.btn:active{
    scale: 0.95;
}

.fleet .seater{
    
    border-radius: 10px;
    padding: 10px;
    display: flex;
    background-color: #a9b1bd;
    width: 14%;
    align-items: center;
}

.seater .number{
    padding-left: 8px;
}

.addCar {
    padding: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.273); 
    height: fit-content;
    border-radius:20px ;
    margin: 20px;
}

.field{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.submit{
    padding: 5px;
}

